kube-prometheus-stack:
  # Prometheus settings
  prometheus:
    enabled: true
    prometheusSpec:
      retention: 10m # keep 10 minutes of data
      storageSpec: {}  # No persistence
      resources:
        requests:
          memory: 512Mi
          cpu: 250m

    tolerations:
    - key: "monitoring"
      operator: "Equal"
      value: "true"
      effect: "NoSchedule"
    
    nodeSelector:
      monitoring: "true"
  
  # Grafana settings
  grafana:
    enabled: true
    adminPassword: admin  # Change this!
    
    # NO persistence
    persistence:
      enabled: false
    
    # Pre-built dashboards
    defaultDashboardsEnabled: true
    
    ingress:
      enabled: false  # We'll use our own ingress

    tolerations:
    - key: "monitoring"
      operator: "Equal"
      value: "true"
      effect: "NoSchedule"
    
    nodeSelector:
      monitoring: "true"
  
  # AlertManager
  alertmanager:
    enabled: true
    alertmanagerSpec:
      storage: {}  # No persistence

    tolerations:
    - key: "monitoring"
      operator: "Equal"
      value: "true"
      effect: "NoSchedule"
    
    nodeSelector:
      monitoring: "true"