apiVersion: v1
kind: ConfigMap
metadata:
  name: cloudflared-config
  namespace: {{ .Release.Namespace }}
  labels:
    app: cloudflared
data:
  config.yaml: |
    {{- toYaml .Values.cloudflared.config | nindent 4 }}